.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.back
.DS_Store
.idea/
.vscode
*/data/meg
*/data/losses
jobs
**__pycache__
notebooks/main_results*
notebooks/results_NewPrior*
notebooks/CodeBak
Untitle*
backup
results
tmp
sbi-logs
Test*
*.sif
